*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color: #a0e403;
color: #ffffff;
text-align: center;
font-family: Arial, sans-serif;
}

.color-info-container {
margin: 100px 0 30px;
font-size: 1.4rem;
}

.btn {
cursor: pointer;
padding: 12px 20px;
margin: 15px;
color: #ffffff;
background-color: #2980b9;
border: none;
border-radius: 5px;
font-size: 1rem;
}

.btn:hover {
background-color: #1abc9c;
}
